<h1><%= @contact['full_name']%></h1>
<dl>
  <dt>E-mail</dt>
  <dd><%=@contact['email']%></dd>
  <dt>Mobile Phone</dt>
  <dd><%=@contact['phone_mobile']%></dd>
</dl>
<h3>Send Message:</h3>
<%= form_tag do %>
  <%= label_tag(:msg, "Message:") %>
  <%= text_area_tag(:msg) %>
  <%= submit_tag("Send") %>
<% end %>
